.sidebar a {
    color: rgba(63, 49, 48, 0.5);
    display: block;
    padding: 10px 40px 10px 0;
    border-bottom: 1px solid rgba(63, 49, 48, 0.1);
    position: relative;
}

.sidebar a.primary-btn {
    color: white;
    padding: 10px;
}

.sidebar a.secondary-btn {
    padding: 10px;
}

.sidebar {
    width: 25%;
    position: sticky;
    top: 0;
}

.content-list {
    border: 2px solid #6B6660;
    padding: 0 20px;
    max-height: 100vh;
    overflow-y: scroll;
}

.sidebar a:last-child {
    border-bottom: none;
}

.sidebar a:last-child.secondary-btn {
    border-bottom: 1px solid rgba(63, 49, 48, 0.7);
    ;
}

.sidebar a.active,
.sidebar a:hover {
    color: rgba(63, 49, 48, 1);
    transition: 0.5s;
}

.sidebar a.primary-btn:hover {
    color: white;
}

.sidebar a.active::after {
    content: url(../img/sidebar-active.svg);
    position: absolute;
    right: 0;
    top: 15px;
    width: 20px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-0 {
    margin-right: 0px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.mt-0 {
    margin-top: 0;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

h1 {
    font-size: 1.8em;
    margin: 0;
    color: rgba(63, 49, 48, 1);
}

.content h1.mt-50 {
    margin-top: 50px;
}

.content h1.font-8 {
    font-size: 8em;
    line-height: 1;
}

.content h2,
.content h3,
.content b {
    color: rgba(63, 49, 48, 1);
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-30 {
    padding: 30px;
}

.pl-60 {
    padding-left: 60px;
}

.pt-30 {
    padding-top: 30px;
}

.content {
    width: 50%;
}

.align-items-start {
    align-items: flex-start;
}

.content-menu {
    width: 25%;
    position: sticky;
    top: 0;
}

#vong-tay-content .content-menu {
    height: 520px;
}

.content-menu nav {
    background: rgba(0, 0, 0, 0.05);
    padding: 15px 30px;
}

.content-menu a {
    color: #3F3130;
    opacity: 0.5;
    margin: 0 0 15px;
    display: block;
}

.content-menu a:hover,
.content-menu a.active {
    opacity: 1;
    transition: 0.5s;
}

.content-menu a.ad {
    opacity: 1;
    margin: 0;
}

.content-menu a.ad:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.light-bg {
    background: url(../img/footer.webp);
    background-size: cover;
    padding: 30px;
    color: white;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-60 {
    margin-bottom: 60px;
}

#toTop {
    position: fixed;
    bottom: 20px;
    left: 10px;
    display: none;
    background: transparent;
    border: none;
    padding: 0;
}

.link-btn {
    color: #815F42;
    display: block;
    text-align: center;
}

.link-btn::before {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 7px solid #815F42;
    border-bottom: 4px solid transparent;
    content: '';
    margin: 0 20px 0 0;
}

.link-btn::after {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-right: 7px solid #815F42;
    border-bottom: 4px solid transparent;
    content: '';
    margin: 0 0 0 20px;
}

button {
    background: transparent;
    border: none;
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
}

.pos-fixed {
    position: fixed;
}

#contact {
    right: 10px;
    bottom: 30px;
    padding: 0;
}

#zalo-mess {
    right: 10px;
    bottom: 90px;
    display: none;
}

.show {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    animation-name: slideIn;
    animation-duration: 0.5s;
}

.white-bg {
    background: white;
}

@keyframes slideIn {
    from {
        bottom: 70px;
        opacity: 0;
    }

    to {
        bottom: 90px;
        opacity: 1;
    }
}

.brown {
    color: #815F42;
}

.max-width-30 {
    max-width: 30px;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-600 {
    max-width: 600px;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-0 {
    margin: 0;
}

.line-through {
    text-decoration: line-through;
}

.orange {
    color: #ee4d2d;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.border-radius-5 {
    border-radius: 5px;
}

.tabs {
    overflow: hidden;
    border-bottom: 1px solid #E4DBD4;
    min-width: 280px;
}

.tab-content {
    display: none;
}

.tab-link {
    color: #695F56;
    font-family: Afacad, sans-serif;
    opacity: 0.5;
    transition: 0.5s;
}

.tab-link.active {
    opacity: 1;
    border-bottom: 4px solid #ee4d2d;
}

.size-btn {
    border: 1px solid #695F56;
    background: white;
    height: 30px;
    padding: 5px 15px;
    border-radius: 5px;
    color: #695F56;
}

.size-btn.active {
    color: #ee4d2d;
    border: 1px solid #ee4d2d;
    transition: 0.5s;
}

.size-btn.active::after {
    content: url(../img/tick.svg);
    position: absolute;
    top: 0;
    right: 0;
}

.opacity-05 {
    opacity: 0.5;
}

.image-center {
    margin-left: 50%;
    transform: translateX(-50%);
}

.hinh-mo-ta {
    max-width: 50%;
    max-height: 450px;
}

.content-menu a.primary-btn,
.content-menu a.w-100 {
    color: white;
    opacity: 1;
}

footer a {
    color: rgba(63, 49, 48, 0.5);
}

footer a:hover {
    color: rgba(63, 49, 48, 1);
}

.ava {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 15px;
    vertical-align: text-bottom;
    margin: 0 5px 0 0;
}

.overlay span {
    color: white;
}

.overlay span.line-through {
    color: rgba(63, 49, 48, 0.7);
}

.overlay .drop-down-button::after,
.overlay .arrow-up.drop-down-button::after {
    display: none;
}

.overlay .drop-down-button span::after {
    content: url(../img/white-drop-down-icon.svg);
    position: relative;
    display: inline-block;
    top: -1px;
    width: 10px;
    left: 10px;
}

.overlay .arrow-up.drop-down-button span::after {
    content: url(../img/white-arrow-up.svg);
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#mota-nhanxet .content-menu {
    top: 40px;
    height: 100vh;
    overflow-y: scroll;
}

.product-details .closebtn {
    right: 15px;
    top: 15px;
}

.product-details .overlay-content {
    text-align: left;
}

.product-details.overlay span {
    color: rgba(63, 49, 48, 0.7);
}

.product-details.overlay span.orange {
    color: #ee4d2d;
}

.overlay-content.white-bg.pos-rel {
    text-align: left;
    padding: 15px 15px 0;
}

.overlay-content.white-bg.pos-rel.p-30 {
    padding: 30px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 1px solid rgba(63, 49, 48, 0.3);
    display: inline-flex;
    border-radius: 5px;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 0.7rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 1px;
    height: 2rem;
    font-weight: bold;
    text-align: center;
}

.step-no {
    background: rgba(63, 49, 48, 0.2);
    width: 31px;
    border-radius: 50%;
}

#step1::after,
#step2::after {
    content: '';
    width: 204px;
    height: 4px;
    background: #D1CECE;
    position: absolute;
    left: 100%;
}

#step2::before,
#step3::before {
    content: '';
    width: 204px;
    height: 4px;
    background: #D1CECE;
    position: absolute;
    right: 100%;
}

.flex-grow-1 {
    flex-grow: 1;
}

.line-height-12 {
    line-height: 1.2;
}

.w-20 {
    width: 20px;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-33 {
    width: 33.33%;
}

.w-40 {
    width: 40%;
}

.w-35 {
    width: 35%;
}

.w-50 {
    width: 50%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.w-600 {
    width: 600px;
}

/* Style for the slideshow container */
.slideshow-container {
    position: relative;
}

/* Style for the slides */
.mySlides {
    display: none;
}

/* Style for the thumbnail images */
.thumbnail {
    cursor: pointer;
}

/* Style for the active thumbnail */
.thumbnail.active {
    border: 2px solid #ff6600;
}

@media screen and (max-width:992px) {
    .pl-60 {
        padding-left: 40px;
    }

    .pr-60 {
        padding-right: 40px;
    }

    .mb-60 {
        margin-bottom: 30px;
    }

    .w-33 {
        width: 100%;
    }

    .w-33.pl-15,
    .w-33.pl-15 .m-0.pl-15,
    .w-33.pl-30 {
        padding-left: 0;
    }

    .product-details .overlay-content.w-75 {
        width: 90%;
    }

    #mo-ta .w-75 {
        width: 60%;
    }

    #mo-ta .content-menu {
        width: 40%;
    }

    #mota-nhanxet .w-75 {
        width: 100%;
    }

    .product.pl-15.pr-15 {
        width: 100%;
    }
}

@media screen and (max-width:767px) {
    .sidebar, .content-menu nav {
        display: none;
    }

    .content {
        width: 100%;
    }

    .pl-60 {
        padding-left: 15px;
    }

    .pr-60 {
        padding-right: 15px;
    }

    .mt-50 {
        margin-top: 30px;
    }

    .content-menu {
        width: 100%;
        position: relative;
        top: 10px;
        padding: 0 15px;
    }

    #nhan-xet .w-50 {
        width: 100%;
    }

    .hinh-mo-ta {
        max-width: 100%;
    }

    footer .d-flex.container {
        flex-direction: column;
        padding: 0 0 30px;
    }

    .content h1.font-8 {
        font-size: 5em;
    }

    footer .pl-30 {
        padding-left: 0;
    }

    footer .pr-30 {
        padding-right: 0;
    }

    footer .pt-48 {
        padding-top: 20px;
    }

    .w-75 {
        width: 100%;
    }

    .overlay-content.white-bg.pos-rel.w-75 {
        width: 90%;
    }

    #mota-nhanxet .content-menu {
        display: none;
    }

    .w-75.pr-60 {
        padding-right: 10px;
    }

    .w-75.pl-60 {
        padding-left: 15px;
    }

    .overlay-content.white-bg>.d-flex.p-30 {
        flex-direction: column;
        padding: 0;
    }

    .overlay-content.white-bg>.d-flex.p-30 .w-50 {
        width: 100%;
    }

    .overlay-content.white-bg>.d-flex.p-30 .w-50 .pl-15 {
        padding-left: 0;
    }

    .overlay-content.white-bg>.d-flex.p-30 .w-50 .pr-15 {
        padding-right: 0;
    }

    .product.pl-15.pr-15 {
        width: 50%;
    }

    .pl-30.pr-30.content {
        padding-left: 0;
        padding-right: 0;
    }

    .overlay-content .w-50 {
        padding: 15px;
    }

    .overlay-content .w-50 ul {
        padding: 0 0 0 15px;
    }

    .overlay-content .w-50 .primary-btn {
        margin: 0 0 30px 0;
    }
}

@media screen and (max-width: 480px) {
    .overlay-content .w-50 {
        padding: 15px 0;
    }

    .product.pl-15.pr-15 {
        width: 100%;
    }
}